*~
*#
.#*
emacs/.emacs.d/emacs-config.el
emacs/.emacs.d/url/cookies
emacs/.emacs.d/elpa/archives
emacs/.emacs.d/elpa
xmonad/.xmonad/*.o
xmonad/.xmonad/*.hi
xmonad/.xmonad/*.errors
xmonad/.xmonad/xmonad-x86_64-linux
